<div>
    <div class="container">
        <div id="mensagem" class="mensagem">Nenhuma casa cadastrada. Cadastre uma nova.</div>

        <div class="cards" id="cards">
            <!-- Casas aparecem aqui -->
            <div class="card" onclick="abrirModal()">
                <div class="card-icon">＋</div>
                <div class="card-text">Adicionar</div>
            </div>
        </div>
    </div>

    <!-- MODAL DE CADASTRO-->
    <!-- Cadastro -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModal()">&times;</span>
            <h3>Cadastrar Nova Casa</h3>
            <input type="text" id="nome" placeholder="Nome da Casa" required />
            <input type="text" id="endereco" placeholder="Endereço" required />
            <button onclick="cadastrarCasa()">Cadastrar</button>
        </div>
    </div>
    
    <!-- MODAL DE EDIÇÃO/EXCLUIR -->
    <div id="modal-editar" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModalEditar()">&times;</span>
            <h3>Editar Casa</h3>
            <input type="text" id="edit-nome" placeholder="Nome da Casa" required />
            <input type="text" id="edit-endereco" placeholder="Endereço" required />
            <button onclick="salvarEdicao()">Salvar</button>
            <br><br>
            <button onclick="excluirCasa()"
                style="color: crimson; font-weight: 400; background: none; border: none; text-align: center; cursor: pointer;">Excluir Casa</button>
        </div>
    </div>

</div>